Source: kodi-pvr-tubitv
Priority: extra
Maintainer: Nobody <nobody@kodi.tv>
Build-Depends: debhelper (>= 9.0.0), cmake,
               kodi-addon-dev
Standards-Version: 3.9.4
Section: libs

Package: kodi-pvr-tubitv
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TubiTV PVR for Kodi
 TubiTV PVR for Kodi

Package: kodi-pvr-tubitv-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Amazontv PVR for Kodi
 debug symbols for TubiTV PVR for Kodi

